* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* header */

header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 20px 10%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    text-transform: capitalize;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
    background-color: #3b82f61a;
    padding: 5px 5px;
    border-radius: 10px;
}

.logo h3 {
    font-size: 1.2em;       
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.embaucher {
    background-color: #4169E1;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.embaucher:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2)
}

/* fin header */

/* section developper */

.developper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 90px 15%;
}

.developper h6,
.developper h1,
.developper p {
  flex: 1 1 auto; 
  min-width: 0; 
}

.developper h6 {
  font-size: 1.2em;
  color: #4169E1;
  margin-bottom: 10px;
  border-radius: 5px;
  
}

.developper h1 {
  font-size: 3.2em;
  margin-bottom: 10px;
}

.developper img {
  width: 500px;
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-left: auto; 
}

.developper p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555555;
}

/* fin section developper */